.language{
    font-weight:bold;
    text-align: right;
    color:black;
}
.menu{
    background-color: blue;
    color:white;
    text-align:center;
    border-style:none;
    padding: 15px 32px;
    display: inline-block;
    border-style:solid;
    border-color:rgb(205,205,205);
}